{% extends 'main.html' %}
{% block content%}
<h1>Choice Your Account</h1>
<div class="choice_acc">
    {%for field in form %}
    <div class="parent_choice_acc">
        <div class="left">
            <img src="{{field.profile_pic.url}}" alt="" ,width="100px">
        </div>
        <div class="child_acc">
            <a href="{% url 'patient_profile' field.user_name%}">
                {{field.user_name}}
            </a>
            <p>He is Your {{field.user_relationship}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}