{% extends 'main.html' %}
{% block content %}

<div class="profile-container">
    <div class="profile-header">
        <div class="profile-picture">
            <img src="{{form.Profile_pic.url}}" alt="not found" />
        </div>
        <h1 class="profile-name">Dr. {{form.Name}}</h1>
        <p class="profile-title">{{form.Profession}}</p>
    </div>
    <div class="profile-info">
        <h2>About Me</h2>
        <p>{{form.About_me}}</p>
        <h2>Education and Training</h2>
        <p>{{form.Education_from}}</p>
        <h2>Specialties</h2>
        <p>{{form.Profession}}</p>
        <h2>Contact Information</h2>
        <p>Email: {{form.email}}</p>
        <p>Phone: {{form.mobile_number}}</p>
        <p>Office address: {{form.street}},{{form.city}} ,{{form.state}} ,{{form.country}} 00000</p>
    </div>
</div>



{% endblock %}